/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
   --primary: #1aac83;
   --error: #e7195a;
}

body {
   background: #f1f1f1;
   margin: 0;
   font-family: "Poppins";
}

header {
   background: #fff;
}

header .container {
   max-width: 1400px;
   margin: 0 auto;
   padding: 10px 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

header a {
   color: #333;
   text-decoration: none;
}

.pages {
   max-width: 1400px;
   padding: 20px;
   margin: 0 auto;
}

/* homepage */
.home {
   display: grid;
   grid-template-columns: 3fr 1fr;
   gap: 100px;
}

.subject-details {
   width: 130%;
   background: #fff;
   border-radius: 4px;
   margin: 20px auto;
   padding: 20px;
   position: relative;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.jops {
   background: #fff;
   border-radius: 8px;
   margin: 20px auto;
   padding: 20px;
   position: relative;
   box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
}
 .jops h4 {
   margin: 0 0 10px 0;
   font-size: 1.2em;
   color: var(--primary);
 }
 .jops p {
   margin: 0;
   font-size: 0.9em;
   color: #555;
 }
 .jops span {
   position: absolute;
   top: 20px;
   right: 20px;
   cursor: pointer;
   background: #f1f1f1;
   padding: 6px;
   border-radius: 50%;
   color: #333;
 }
.subject-details h4 {
   margin: 0 0 10px 0;
   font-size: 1.2em;
   color: var(--primary);
}

.subject-details p {
   margin: 0;
   font-size: 0.9em;
   color: #555;
}

.subject-details span {
   position: absolute;
   top: 20px;
   right: 20px;
   cursor: pointer;
   background: #f1f1f1;
   padding: 6px;
   border-radius: 50%;
   color: #333;
}

/* new workout form */
label,
input {
   display: block;
}

input {
   padding: 10px;
   margin-top: 10px;
   margin-bottom: 20px;
   width: 100%;
   border: 1px solid #ddd;
   border-radius: 4px;
   box-sizing: border-box;
}

.form_button {
   background: var(--primary);
   border: 0;
   color: #fff;
   padding: 10px;
   font-family: "Poppins";
   border-radius: 4px;
   cursor: pointer;
}

div.error {
   padding: 10px;
   background: #ffefef;
   border: 1px solid var(--error);
   color: var(--error);
   border-radius: 4px;
   margin: 20px 0;
}

input.error {
   border: 1px solid var(--error);
}

/* navbar */
Nav {
   display: flex;
   align-items: center;
}

Nav a {
   margin-left: 10px;
}

Nav button {
   background: #fff;
   color: var(--primary);
   border: 2px solid var(--primary);
   padding: 6px 10px;
   border-radius: 4px;
   font-family: "Poppins";
   cursor: pointer;
   font-size: 1em;
   margin-left: 10px;
}

/* auth forms */
form.signup,
form.login {
   max-width: 400px;
   margin: 40px auto;
   padding: 20px;
   background: #fff;
   border-radius: 4px;
}

.button{
   background: var(--primary);
   border: 0;
   color: #fff;
   padding: 10px;
   font-family: "Poppins";
   border-radius: 4px;
   cursor: pointer;
   width: 122px;
}
table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }
 
 td, th {
   border: 2px solid;
   text-align: left;
   padding: 8px;
 }
 
 tr:nth-child(even) {
   background-color: #dddddd;
 }
 .form_button_edit{
   background: var(--primary);
   border: 0;
   color: #fff;
   padding: 10px;
   font-family: "Poppins";
   border-radius: 4px;
   cursor: pointer;
   width: 122px;
 }
 .form_button_delete{
   background: var(--primary);
   border: 0;
   color: #fff;
   padding: 10px;
   font-family: "Poppins";
   border-radius: 4px;
   cursor: pointer;
   width: 122px;
 }
 .form_button_cancel{
   background: var(--primary);
   border: 0;
   color: #fff;
   padding: 10px;
   font-family: "Poppins";
   border-radius: 4px;
   cursor: pointer;
   width: 75px;
 }
 .form_button_save{
   background: var(--primary);
   border: 0;
   color: #fff;
   padding: 10px;
   font-family: "Poppins";
   border-radius: 4px;
   cursor: pointer;
   width: 78px;
   margin-right: 5px;

 }
 .edit-popup {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   z-index: 1000; 
   width: 20%;
 }
 .four_buttons{
   display: flex;
   gap: 286px;
 }
 .button-student{
   background: var(--primary);
   border: 0;
   color: #fff;
   padding: 10px;
   font-family: "Poppins";
   border-radius: 4px;
   cursor: pointer;
   width: 126px;
 }
 /* Styling for the pop-up overlay */
.popup {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: center;
   align-items: center;
 }
.fbutton_CreateUser{
   background: var(--primary);
   border: 0;
   color: #fff;
   padding: 6px;
   font-family: "Poppins";
   border-radius: 4px;
   cursor: pointer;
   width: 126px;
}